<%- include("partials/header") %>
<body class="space-btwn centered-body">
    <h1>Potluckr</h1>

    <div class="col space-btwn homepage">
        <div>
            <h2>Log in to see your potlucks:</h2>
            <a href="/login">Log In</a>
        </div>
    
        <div>
            <h2>Create an account to start setting up potlucks:</h2>
            <a href="/signup">Sign Up</a>
        </div>
    </div>
    
    <p class="footer">Brought to you by Christian Roque, Gabe Miller, and Sasha Avanov</p>
</body>
</html>