<%- include("partials/header") %>
<body>
    <h1>Create an Account</h1>
    <form class="col auth centered" action="/signup" method="POST">
        <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %>    
        <% } %>
        <input type="text" name="username" placeholder="User Name">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirmPassword" placeholder="Confirm Password">
        <input type="submit" value="Sign Up">
    </form>
</body>
</html>